<h1> Welcome to the Descendants of War website!</h1>

<p>This website is very much work in progress, but feel free to poke around. If you find a bug, let me know!</p>

<%= link_to 'Go to forums', thredded.root_path %>

<% if user_signed_in? %>
  <p>You're signed in, and we love you all the more for it!</p>
  <iframe src="https://discordapp.com/widget?id=246275008064782336&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
<% end %>
